#home-header {
    /* background-color: red; */
    padding: 20px 0px 40px 0px;
}

#home-header h1 {
    font-size: 90px;
}

#home-header h2 {
    font-style: italic;
    font-size: 40px;
}

#home-post-index {
    text-align: center;
}

#home-post-index h3 {
    font-size: 40px;
    text-decoration: underline;
}

.home-post-listing {
    list-style: none;
}

.home-post-listing-title {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.home-post-listing-date {
    font-style: italic;
    color: black;
    font-size: 15px;
}