<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css" />
</head>

<body>
    <div class="full-size-of-page background">
        <div class="content-container">
            {{ content }}
        </div>
    </div>
</body>

</html>